<nav class="navbar navbar-expand-lg">
    <div class="container-fluid justify-content-between">
        <!-- Marca -->
        <a class="navbar-brand d-flex align-items-center gap-2" routerLink="/">
            <img src="/images/logo.png" alt="Papá Noel Argentina" alt="" class="logo">
            <span>Papá Noel Argentina</span>
        </a>

        <!-- Botón hamburguesa -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Links -->
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" routerLink="/" routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }">Home</a>
                <a class="nav-link" [routerLink]="['/']" fragment="nosotros">Nosotros</a>
                <a class="nav-link" routerLink="/shoppings" routerLinkActive="active">Centros comerciales</a>
                <a class="nav-link" routerLink="/empresas" routerLinkActive="active">Empresas</a>
                <a class="nav-link" [routerLink]="['/']" fragment="contacto">Contacto</a>
            </div>
        </div>
    </div>
</nav>