/* You can add global styles to this file, and also import other style files */
* {
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  background: linear-gradient(rgb(65, 0, 16), rgb(136, 0, 25), rgb(197, 0, 49));
}

html {
  scroll-behavior: smooth;
}
.logo {
  height: 36px;
  width: auto;
}
main,
router-outlet + * {
  scroll-margin-top: 80px;
} /* si usás anclas internas */
:root {
  --nav-height: 80px; /* igual que el height del navbar */
}

.section-anchor {
  scroll-margin-top: var(--nav-height);
}
